.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

header {
    height: 100px;
    text-align: center;
    border-bottom: 2px solid #000000; /* 任意の色と太さを指定 */
}

h1{
    font-family: Impact, sans-serif;
    text-shadow: 10px 15px 10px rgba(7, 0, 0, 0.5);
    font-size: 60px;
    margin: 0;
    padding-left: 40%;
    float: left;
    text-align: center;
}
.head-list{
    float: right;

}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* メニューの背景色と透明度を設定 */
    display: none;
    z-index: 1000; /* メニューを最前面に表示 */
}

.menu-icon {
    padding:15px 10px;
    
}
.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}
.menu.visible {
    display: none;
    background-color: rgb(6, 6, 141);
}


.contents{
    height: 1000px;
    margin: 0;
    border-bottom: 2px solid #000000;
}
.main-shot{
    width: 100%;
    height: 100%;
}
li{
    list-style: none;
}
footer{
    background-color: #057a9b;
    height: 500px;
    margin: 0;
}